[Desktop Entry]
Encoding=UTF-8
Name=Link to http://demo.shapedtheme.com/kotha-pro-html/index.html
Type=Link
URL=http://demo.shapedtheme.com/kotha-pro-html/index.html
Icon=text-html
